/* Header */

$padding: 20px;
$background: #c0eea9;
$line-background-color: #000;

$maxwidth: 700px;
$text-align: center;
$text-align-p: justify;
$padding-bottom: 1em;
$line-height: 1.4em;

/* same text styling hero, featured and about. (reffered as: hfr) */

@mixin hfr() {
  padding: $padding;
  max-width: $maxwidth;
  text-align: $text-align
  }

@mixin hfr-p() {
    text-align: $text-align-p;
    padding-bottom: $padding-bottom;
    line-height: $line-height;
}
}
