body {
    background-color: #c4bcbc;
}

.green-background {
    background-color: green;
}

.home {
    background-color:rgba(10, 101, 219, 0.692)
}
.red-background {
    background-color: red;
}

.orange-background {
    background-color:orange;
}

.purple-background {
    background-color: purple;
}

.btn-toggle-nav {
    width: 60px;
    height: 100%;
    background-color: transparent;
    background-image: url("Image/colorToggleMenu.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    cursor: pointer;
}

.btn-toggle-nav:hover {
    display: block;
    opacity: 0.5; 
}

.nav-main {
    position: fixed;
    top: 0;
    width: 5%;
    height: 60px;
    background-color: #c4bcbc00;
    display:  flex;
    flex-wrap: wrap;
    z-index: 1000;
}

.nav-main ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 15px;
}

.nav-main ul li {
    list-style-type: none;
    line-height: 60px;
}

.nav-main ul li a {
    display: block;
    height: 100%;
    padding: 0 10px;
    text-transform: uppercase;
    text-decoration: none;
    color: #c4bcbc;
    font-family: Arial;
    font-size: 16px;
}

.nav-sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 50px;
    height: calc(100vh - 60px);
    padding: 0 5px;
    z-index: 1000;
    transition: all 0.3s ease-in-out;
}

.nav-sidebar ul {
    padding-top: 15px;
    overflow: hidden;
    visibility: hidden;
}

.nav-sidebar ul li {
    line-height: 60px;
    list-style-type: none;
}

.nav-sidebar ul li a {
    display: block;
    height: 60px;
    padding: 0 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(2, 2, 2);
    font-family: Arial;
    font-size: 16px;
    white-space: nowrap;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

a:hover {
    background-color: rgba(255, 255, 255, 0.281);
}



