@import url("https://fonts.googleapis.com/css?family=Roboto");

@import "./_variables";
@import "./_portfolio";

* {
  box-sizing: border-box;
}

body {
  align-items: $align-items;
  background: #c3cfe2;
  display: $display;
  flex-direction: $flex-direction;
  font-family: "Roboto", sans-serif;
  justify-content: center;
  margin: 0 0 50px;
  min-height: 100vh;
  text-align: center;
}

@media (max-width: 960px) {
  .portfolio-item {
    width: 48%;
    margin: 15px 1%;
  }
}

@media (max-width: 768px) {
  .portfolio-item {
    width: 100%;
    margin: 15px 0;
  }
}
